
<html>
    <head>
        <title></title>
    </head>
    
    <body>
        <h1 style="font-family:verdana;"> About Page </h1>
    </body>
         <p style="font-family:courier;">Professor Zane Jobe’s life goal is to transform traditionally qualitative geological observations into quantifiable, usable, and visualizable data. We aim to contribute to this goal by compiling data surrounding the subject of geological carbon sequestration and plotting it on an interactive map residing on a website. This map is intended to clearly organize and present data to users in the field of carbon sequestration. This should allow users to make better informed decisions surrounding the subject. </p>
         <br>
         <p>Included is a list of links to our data.</p>
         <br>
         <p><a href="https://ampd.epa.gov/ampd/">EPA Power Plants</a></p>
         <br>
         <p><a href="https://www.data.boem.gov/Main/Well.aspx">BOEM Boreholes</a></p>
         <br>
         <p><a href="https://www.data.boem.gov/Main/GandG.aspx">BOEM GOM Sands</a></p>
         <br>
         <p><a href="https://edx.netl.doe.gov/geocube/#collections/offshore">NETL GOM Wells</a></p>
         <br>
         <p><a href="https://walrus.wr.usgs.gov/namss/">USGS Seismic Data (NAMSS)</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA Biodiesel Plants</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA Oil Pipelines</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA HGL Pipelines</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA NG Pipelines</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA Petro Pipelines</a></p>
         <br>
         <p><a href="https://www.data.boem.gov/Main/Plans.aspx">BOEM Planned Wells</a></p>
         <br>
         <p><a href="https://www.data.boem.gov/Main/Mapping.aspx">BOEM Platforms</a></p>
         <br>
         <p><a href="https://www.eia.gov/maps/layer_info-m.php">EIA Power Plants</a></p>
      
         


    </html>